/* Variables Globales y Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

:root {
    --bg-main: #0F172A;
    --bg-card: #1E293B; /* Color secundario común */
    --accent: #F97316;
    --text-primary: #FFFFFF;
    --text-secondary: #94A3B8;
    --navbar-height: 80px;
}